.profile__subtitle{
  font-weight: normal;
  font-size: 18px;
  line-height: 1.22;
  color: #FFFFFF;
  margin: 0;
  text-overflow: ellipsis;
  max-width: 320px;
  overflow: hidden;
  white-space: nowrap;
}

@media screen and (max-width: 800px){
  .profile__subtitle{
    margin-bottom: 36px;
    font-size: 14px;
    line-height: 1.21;
  }
}

@media screen and (max-width: 425px){
  .profile__subtitle{
    max-width: 280px;
  }
}
