.popup__button-save_inactive{
  border: 1px solid rgba(0, 0, 0, .2);
  background: #ffffff;
  border-radius: 2px;
  color: #C4C4C4;
}

.popup__button-save_inactive:hover{
  border: 1px solid rgba(0, 0, 0, .2);
  background: #ffffff;
  border-radius: 2px;
  color: #C4C4C4;
  cursor: default;
}