.elements{
  max-width: 882px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[2];
  grid-template-rows: repeat(2, 1fr);
  grid-auto-flow: row;
  gap: 21px 18px;
}

@media screen and (max-width: 940px){
  .elements{
    max-width: 582px;
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (1fr)[3];
    grid-template-rows: repeat(3, 1fr);
  }
}

@media screen and (max-width: 628px){
  .elements{
    max-width: 282px;
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
    -ms-grid-rows: (1fr)[6];
    grid-template-rows: repeat(6, 1fr);
    gap: 20px;
  }
}

