.popup__button-close{
  position: relative;
  width: 40.7px;
  height: 40.7px;
  top: 100%;
  left: 100%;
  background-color: rgba(0, 0, 0, .0);
  background-image: url('../../../images/button-reset.svg');
  background-position: center;
  border: none;
  cursor: pointer;
  -webkit-transition: opacity .3s ease-out;
  -o-transition: opacity .3s ease-out;
  transition: opacity .3s ease-out;
}

.popup__button-close:hover{
  opacity: .6;
}

@media screen and (max-width: 520px){
  .popup__button-close{
    width: 30px;
    height: 30px;
    left: calc(50% + 122px);
    top: calc(50% - 183px - 30px);
  }
}
