.header{
  max-width: 882px;
  padding: 45px 0 40px 0;
  border-bottom: 1px solid rgba(84, 84, 84, .7);
}

@media screen and (max-width: 1024px){
  .header{
    width: calc(100% - 142px);
  }
}

@media screen and (max-width: 768px){
  .header{
    width: 100%;
  }
}

@media screen and (max-width: 425px){
  .header{
    padding: 28px 0 31.6px 0;
  }
}
